/**
 *
 * Apply your custom CSS here
 *
*/

body {
	font-family:Consolas;
	/*     --main-color:#f96b1c; */
/*     --sec-color:#9acc14; */
	--main-color:#9acc14;
	--sec-color:#f96b1c;
	--1st-background:#1e2125;   /*main-content背景*/
	--2nd-background:#191c1f;   /*左边栏背景*/
	--3rd-background:#2e343a;   /*右边栏背景*/
	--4th-background:#292e33;   /*item-cell背景*/
	--5th-background:#343c41;   /*搜索栏背景*/
	--6th-background:#3f464c;   /*右边栏按钮背景*/
	--1st-fontcolor:#cbcbcb;   /*主 item 和右边栏字体颜色*/
	--2nd-fontcolor:#979898;
	--baidu-color:#2932e1;
	--bing-color:#00a89d;
	--google-color:#ea4335;
}
/* 隐藏滚动条 */
body::-webkit-scrollbar{
	display:none;
}

.page-container{
	background:var(--1st-background);
}

/*-----------------side menu toggle----------------*/
.sidebar-menu-toggle{
	display:block;
	opacity:.7;
	width: 15px;
	text-align: center;
	position: absolute;
	top: 3%;
	transition:opacity .3s ease-in-out;
}

/*left*/
.sidebar-menu .sidebar-menu-toggle{
	right: -15px;
}

/*right*/
#chat .sidebar-menu-toggle{
	left: -15px;
}

.sidebar-menu-toggle a{
	color:var(--2nd-fontcolor);
	font-size:15px;
}

/*-------------------side bar menu-------------------*/
.sidebar-menu.collapsed{
    width: 3px;  /*隐藏左边栏*/
    transition:width .3s ease-in-out;
}

.sidebar-menu.fixed .sidebar-menu-inner{
    left: -80px; /*隐藏左边栏*/
    transition:left .5s ease-in-out;
}

.sidebar-menu.collapsed:hover{
	width:80px;
}
.sidebar-menu.collapsed:hover > .sidebar-menu-inner{
	left:0;
}
.sidebar-menu.collapsed:hover .logo-collapsed{
	border:none;
}
.sidebar-menu.collapsed:hover .sidebar-menu-toggle{
	opacity:0;
}

/*-----------------side menu logo----------------*/
/* logo 垂直居中 */
.page-container .sidebar-menu.collapsed .logo-env{
	height:60px;
	display:flex;
	align-items:center;
	padding: 18px 0;
}
.logo{
	width:100%;
}

.logo-collapsed{
	border-left: 3px solid var(--main-color);
	border-right: 3px solid var(--main-color);
}

.logo-expanded{
	transition:color .3s ease-in-out;
}

.logo-expanded:hover{
	color:var(--main-color);
}

.logo-expanded h1{
    margin-top:9px;
    padding: 0 5px;
}

/*------------------side-bar button-----------------*/
.sidebar-menu.collapsed .main-menu > li:hover,
.sidebar-menu.collapsed .main-menu > li li:hover{
	border-left:3px solid var(--sec-color);
	border-right:3px solid var(--sec-color);
}
.sidebar-menu.collapsed .main-menu li:hover > a{
	color:var(--sec-color);
}

.main-menu strong{
	white-space:nowrap;  /*防止侧边栏收起边长*/
}

/*-------------------main-content-------------------*/
.main-content{
	background:var(--1st-background);
}

/*---------------------search-----------------------*/
.web-search{
	margin-top: 105px;
	text-align: center;
}

/*logo*/
.search-logo{
	margin: 25px auto;
	width: 130px;
	height: 130px;
	background: url(../images/logo.png) no-repeat center;
	background-size: 130px 130px; /*留出边距*/
	opacity:.9;
	cursor: pointer;
	transition: background .3s ease-in-out;
}
.search-logo:hover{
    background: url(../images/logo_g.png) no-repeat center;
    background-size:130px 130px;
}

/*主搜索*/
.search-field{
	max-width: 680px;
	min-width: 210px;
	margin: 0 auto;
}

/*搜索选择*/
.search-select a{
	display:inline-block;
	padding:5px 0;
	width: 33.3333333333%;
	background:var(--3rd-background);
	color:var(--1st-fontcolor);
	font-size:14px;
	cursor:pointer;
	transition:all .3s ease-in-out;
}
#baidu:hover,
#baidu.active{  /*百度*/
	color:#fff;
	background:var(--baidu-color);
}
#bing:hover,
#bing.active{  /*必应*/
	color:#fff;
	background:var(--bing-color);
}
#google:hover,
#google.active{  /*谷歌*/
	color:#fff;
	background:var(--google-color);
}

/*搜索框*/
.search-form{
	width: 100%;
	height: 50px;
}

.search-form input{
	background: var(--3rd-background);
	width:100%;
	height:100%;
	outline: none; /*隐藏点击时的边框*/
	border: none;
	border-top: 1.2px solid var(--baidu-color); /*配合 js 与相应搜索一致*/
	border-bottom: 1.2px solid var(--baidu-color);
	border-radius: 4px;
	text-indent: 20px;
	font-size: 15px;
	transition: border .3s ease-in-out;
}
.web-search .search-content:focus{ /*隐藏底部边框*/
	border-bottom: none !important;
}
.search-content:focus ~ ul{  /*显示联想结果*/
	display:block;
}
/*点击联想结果时，.search-content:focus 效果消失，导致无法触发 li 的 click 事件，加上 hover 解决*/
.search-sug:hover{  
	display:block;
}

/*联想结果*/
.search-sug{
	padding: 0;
	background:var(--5th-background);
	border-bottom:1.2px solid var(--baidu-color);
	border-radius:4px;
	list-style-type: none;
	text-align:left;
	color:var(--1st-fontcolor);
	font-size:15px;
}
.search-sug li{
	overflow: hidden;
	padding: 5px 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
.search-sug li:hover{
	color:black;
    background:#8c8c8c;
}

/*-----------------------item-----------------------*/
.xe-counter-block{
	overflow:hidden;
	border-left: 4px solid var(--main-color);
	border-radius:2px;
	transition:all .3s ease-in-out;
}
.xe-counter-block:hover{
	border-left:4px solid var(--sec-color);
	box-shadow:0 3px 8px 0 rgba(0,0,0,.7);
}

.xe-widget.xe-counter-block .xe-upper .xe-label .item-title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; /*文字不换行*/
	font-size: 22px;
	transition:all .3s ease-in-out;
	color: var(--1st-fontcolor);
}
.xe-widget.xe-counter-block .xe-upper .xe-label .item-title:hover{
	color:var(--sec-color);
}

.xe-widget.xe-counter-block .xe-lower span{
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*-----------------------chat-----------------------*/
.page-container #chat{
	/* 	border-left:2px solid var(--main-color); */
	width:3px;
	transition:width .3s ease-in-out;
}

#chat:hover{
	width:350px;
}
#chat:hover .sidebar-menu-toggle{
	opacity:0;
}

/*--------------------search-bar--------------------*/
#chat .search-field{
	display: none;
	width: 100%;
	padding-left: 25px;
	padding-right: 10px;
	margin-top: 25px;
	transition:all .3s ease-in-out;
}
#chat .search-form{
	height:40px;
}
#chat .search-form input{
	background:var(--6th-background);
}

/*--------------------右边栏按钮--------------------*/
.chat-group{
	padding-left: 25px;
}
#chat .chat-group > strong{
	font-weight:bold;
    font-size:15px;
}

.chat-group .col-xs-4{
	padding-left:0;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.chat-group .col-xs-4 > a{
	display:block;  /*如果不是 block，width 无效*/
	padding:5px;
	width: 100%;
	border-radius:3px;
	border-left: 2px solid var(--main-color);
	color:var(--1st-fontcolor);
	background:var(--6th-background);
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	transition:all .3s ease-in-out;
}
.chat-group .col-xs-4 > a:hover{
	border-left:3px solid var(--sec-color);
	box-shadow:0 3px 8px 0 rgba(0,0,0,.7);
}

/*-------------------debug-------------------*/
